## 1. Title of this project: TODO

## 2. Introduction

In [18]:
## print("Heart disease is the number 1 cause of deaths worldwide, with no 'cure' of any kind. 
## Question:

## 3. Preliminary exploratory data analysis

In [19]:
library(tidyverse)
library(tidymodels)

In [20]:
url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"
download.file(url, destfile = "data/processed.cleveland.data")

In [21]:
heart_df <- read_csv("data/processed.cleveland.data", col_name = FALSE)

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [22]:
col <- c("age", "sex","cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal","num")

In [23]:
colnames(heart_df) <- col

In [24]:
head(heart_df)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal num
1 63  1   1  145      233  1   2       150     0     2.3     3     0.0 6.0  0
2 67  1   4  160      286  0   2       108     1     1.5     2     3.0 3.0  2
3 67  1   4  120      229  0   2       129     1     2.6     2     2.0 7.0  1
4 37  1   3  130      250  0   0       187     0     3.5     3     0.0 3.0  0
5 41  0   2  130      204  0   2       172     0     1.4     1     0.0 3.0  0
6 56  1   2  120      236  0   0       178     0     0.8     1     0.0 3.0  0

In [25]:
## me trying to figure stuff out here -> good for graph column names later
#age - age in years
#sex - sex (1 = male, 0 = female)
#cp - chest pain type (1 = typical angina, 2 = atypical angina, 3 = non-anginal pain, 4 = asymptomatic)
#trestbps - resting blood pressure (in mm Hg on admission to the hospital)
#chol - serum cholestoral in mg/dl
#fbs - fasting blood sugar > 120 mg/dl (1 = true; 0 = false)
#restecg (del?) - resting electrocardiographic results (0 = normal, 1 = having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV), 2 = showing probable or definite left ventricular hypertrophy by Estes' criteria
#thalach - maximum heart rate achieved
#exang (del?) - exercise induced angina (1 = yes; 0 = no)
#oldpeak (del?) - ST depression induced by exercise relative to rest
#slope (del?) - the slope of the peak exercise ST segment (1 = upsloping, 2 = flat, 3 = downsloping)
#ca - number of major vessels (0-3) colored by flourosopy
#thal (del?) - 3 = normal; 6 = fixed defect; 7 = reversable defect
#num - diagnosis of heart disease (angiographic disease status) (0 = < 50% diameter narrowing, >0 (?) = > 50% diameter narrowing)

In [26]:
filheart_df <- select(heart_df, -restecg, -exang, -oldpeak, -slope, -thal)
head(filheart_df)

  age sex cp trestbps chol fbs thalach ca  num
1 63  1   1  145      233  1   150     0.0 0
2 67  1   4  160      286  0   108     3.0 2
3 67  1   4  120      229  0   129     2.0 1
4 37  1   3  130      250  0   187     0.0 0
5 41  0   2  130      204  0   172     0.0 0
6 56  1   2  120      236  0   178     0.0 0

In [28]:
split <- initial_split(filheart_df, prop = 0.7, strata = num)
heart_train <- training(split)
heart_test <- testing(split)
head(heart_train)
head(heart_test)

  age sex cp trestbps chol fbs thalach ca  num
1 63  1   1  145      233  1   150     0.0 0
2 37  1   3  130      250  0   187     0.0 0
3 56  1   2  120      236  0   178     0.0 0
4 57  0   4  120      354  0   163     0.0 0
5 57  1   4  140      192  0   148     0.0 0
6 56  0   2  140      294  0   153     0.0 0

  age sex cp trestbps chol fbs thalach ca  num
1 67  1   4  120      229  0   129     2.0 1
2 41  0   2  130      204  0   172     0.0 0
3 52  1   3  172      199  1   162     0.0 0
4 57  1   3  150      168  0   174     0.0 0
5 54  1   4  140      239  0   160     0.0 0
6 58  0   1  150      283  1   162     0.0 0

In [35]:
justforfun <- filter(heart_train, num !=0) %>%
        mutate(num = as.factor(num)) %>%
        mutate(sex = as.factor(sex)) %>%
        mutate(cp = as.factor(cp)) %>%
        arrange(desc(num))
justforfun

   age sex cp trestbps chol fbs thalach ca  num
1  58  1   4  114      318  0   140     3.0 4
2  60  1   4  130      206  0   132     2.0 4
3  50  1   4  150      243  0   128     0.0 4
4  63  0   4  150      407  0   154     3.0 4
5  57  1   4  165      289  1   124     3.0 4
6  77  1   4  125      304  0   162     3.0 4
7  61  1   4  138      166  0   125     1.0 4
8  70  1   4  145      174  0   125     0.0 4
9  38  1   1  120      231  0   182     0.0 4
10 62  0   4  140      268  0   160     2.0 3
11 58  1   3  132      224  0   173     2.0 3
12 40  1   4  110      167  0   114     0.0 3
13 43  1   4  120      177  0   120     0.0 3
14 55  1   4  132      353  0   132     1.0 3
15 67  1   4  125      254  1   163     2.0 3
16 58  1   4  150      270  0   111     0.0 3
17 62  0   4  160      164  0   145     3.0 3
18 49  1   3  120      188  0   139     3.0 3
19 48  1   4  130      256  1   150     2.0 3
20 55  1   4  140      217  0   111     0.0 3
21 56  0   4  200      288  1   133     2.0 3
22 54  1   4  110      239  0   126     1.0 3
23 62  1   2  120      281  0   103     1.0 3
24 64  1   4  120      246  0    96     1.0 3
25 48  1   4  124      274  0   166     0.0 3
26 45  1   4  142      309  0   147     3.0 3
27 58  1   4  128      259  0   130     2.0 3
28 50  1   4  144      200  0   126     0.0 3
29 53  1   4  123      282  0    95     2.0 3
30 54  1   4  110      206  0   108     1.0 3
⋮  ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮   ⋮
67 58  1   4  128      216  0   131     3.0 1
68 60  1   3  140      185  0   155     0.0 1
69 46  1   3  150      231  0   147     0.0 1
70 60  1   4  125      258  0   141     1.0 1
71 52  1   4  128      255  0   161     1.0 1
72 61  0   4  145      307  0   146     0.0 1
73 56  1   4  125      249  1   144     1.0 1
74 35  1   4  120      198  0   130     0.0 1
75 64  1   3  125      309  0   131     0.0 1
76 70  1   4  130      322  0   109     3.0 1
77 58  1   4  125      300  0   171     2.0 1
78 35  1   4  126      282  0   156     0.0 1
79 59  0   4  174      249  0   143     0.0 1
80 57  1   4  152      274  0    88     1.0 1
81 60  0   4  158      305  0   161     0.0 1
82 54  1   2  192      283  0   195     1.0 1
83 43  1   4  132      247  1   143     ?   1
84 62  0   4  150      244  0   154     0.0 1
85 52  1   4  112      230  0   160     1.0 1
86 63  0   4  108      269  0   169     2.0 1
87 49  1   3  118      149  0   126     3.0 1
88 46  1   4  120      249  0   144     0.0 1
89 57  1   2  124      261  0   141     0.0 1
90 40  1   4  152      223  0   181     0.0 1
91 61  1   4  140      207  0   138     1.0 1
92 59  1   1  134      204  0   162     2.0 1
93 57  1   2  154      232  0   164     1.0 1
94 63  0   4  124      197  0   136     0.0 1
95 57  0   4  140      241  0   123     0.0 1
96 45  1   1  110      264  0   132     0.0 1

Details of variables can be found here
https://archive.ics.uci.edu/ml/datasets/Heart+Disease

## 4. Methods

## 5. Expected outcomes and significance