## 1. Title of this project: TODO

## 2. Introduction

Heart disease is the number 1 cause of deaths worldwide, with no 'cure' of any kind. We can, however, 
try to identify possible factors that lead to higher risk of heart disease. We obtained a set of data collected
by Robert Detrano, (M.D., Ph.D.) from the Long Beach and Cleveland Clinic Foundation. This data set contains a
total of 76 attributes, of which 14 are used as primary data. We will be using this data to craft a model that 
attempts to predict whether or not 
regarding 
Question:

## 3. Preliminary exploratory data analysis

In [19]:
library(tidyverse)
library(tidymodels)

In [20]:
url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"
download.file(url, destfile = "data/processed.cleveland.data")

In [21]:
heart_df <- read_csv("data/processed.cleveland.data", col_name = FALSE)

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [22]:
col <- c("age", "sex","cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal","num")

In [23]:
colnames(heart_df) <- col

In [24]:
head(heart_df)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal num
1 63  1   1  145      233  1   2       150     0     2.3     3     0.0 6.0  0
2 67  1   4  160      286  0   2       108     1     1.5     2     3.0 3.0  2
3 67  1   4  120      229  0   2       129     1     2.6     2     2.0 7.0  1
4 37  1   3  130      250  0   0       187     0     3.5     3     0.0 3.0  0
5 41  0   2  130      204  0   2       172     0     1.4     1     0.0 3.0  0
6 56  1   2  120      236  0   0       178     0     0.8     1     0.0 3.0  0

In [25]:
## me trying to figure stuff out here -> good for graph column names later
#age - age in years
#sex - sex (1 = male, 0 = female)
#cp - chest pain type (1 = typical angina, 2 = atypical angina, 3 = non-anginal pain, 4 = asymptomatic)
#trestbps - resting blood pressure (in mm Hg on admission to the hospital)
#chol - serum cholestoral in mg/dl
#fbs - fasting blood sugar > 120 mg/dl (1 = true; 0 = false)
#restecg (del?) - resting electrocardiographic results (0 = normal, 1 = having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV), 2 = showing probable or definite left ventricular hypertrophy by Estes' criteria
#thalach - maximum heart rate achieved
#exang (del?) - exercise induced angina (1 = yes; 0 = no)
#oldpeak (del?) - ST depression induced by exercise relative to rest
#slope (del?) - the slope of the peak exercise ST segment (1 = upsloping, 2 = flat, 3 = downsloping)
#ca - number of major vessels (0-3) colored by flourosopy
#thal (del?) - 3 = normal; 6 = fixed defect; 7 = reversable defect
#num - diagnosis of heart disease (angiographic disease status) (0 = < 50% diameter narrowing, >0 (?) = > 50% diameter narrowing)

In [26]:
filheart_df <- select(heart_df, -restecg, -exang, -oldpeak, -slope, -thal)
head(filheart_df)

  age sex cp trestbps chol fbs thalach ca  num
1 63  1   1  145      233  1   150     0.0 0
2 67  1   4  160      286  0   108     3.0 2
3 67  1   4  120      229  0   129     2.0 1
4 37  1   3  130      250  0   187     0.0 0
5 41  0   2  130      204  0   172     0.0 0
6 56  1   2  120      236  0   178     0.0 0

In [28]:
split <- initial_split(filheart_df, prop = 0.7, strata = num)
heart_train <- training(split)
heart_test <- testing(split)
head(heart_train)
head(heart_test)

  age sex cp trestbps chol fbs thalach ca  num
1 63  1   1  145      233  1   150     0.0 0
2 37  1   3  130      250  0   187     0.0 0
3 56  1   2  120      236  0   178     0.0 0
4 57  0   4  120      354  0   163     0.0 0
5 57  1   4  140      192  0   148     0.0 0
6 56  0   2  140      294  0   153     0.0 0

  age sex cp trestbps chol fbs thalach ca  num
1 67  1   4  120      229  0   129     2.0 1
2 41  0   2  130      204  0   172     0.0 0
3 52  1   3  172      199  1   162     0.0 0
4 57  1   3  150      168  0   174     0.0 0
5 54  1   4  140      239  0   160     0.0 0
6 58  0   1  150      283  1   162     0.0 0

In [36]:
justforfun <- filter(heart_train, num !=0) %>%
        mutate(num = as.factor(num)) %>%
        mutate(sex = as.factor(sex)) %>%
        mutate(cp = as.factor(cp)) %>%
        arrange(desc(num))
head(justforfun)

  age sex cp trestbps chol fbs thalach ca  num
1 58  1   4  114      318  0   140     3.0 4
2 60  1   4  130      206  0   132     2.0 4
3 50  1   4  150      243  0   128     0.0 4
4 63  0   4  150      407  0   154     3.0 4
5 57  1   4  165      289  1   124     3.0 4
6 77  1   4  125      304  0   162     3.0 4

Details of variables can be found here
https://archive.ics.uci.edu/ml/datasets/Heart+Disease

## 4. Methods

## 5. Expected outcomes and significance